/* Reset all styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: none;
    color: inherit;
    outline: none;
    text-decoration: none;
    list-style: none;
    z-index: 4;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: #333;
    line-height: 1.6;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: rgb(27, 27, 27);
    border: 1px solid rgb(70, 62, 62);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(70, 62, 62);
    border: 1px solid rgb(70, 62, 62);
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 90, 90);
}

.test{
    background-color: red;
}
.container {
    display: flex;
    flex-direction: column;
    z-index: 0;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(27, 27, 27);
    background: linear-gradient(0deg, rgb(66, 19, 19) 0%, black 40%);
    border-radius: 5px;
    border: 2px solid rgb(70, 62, 62);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}
.box {
    align-self: start;
    z-index: 1;
    position:relative;
    background-color: rgb(28, 25, 25);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 3px;
    border: 2px solid rgb(70, 62, 62);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 550px;
}
.flex-fill{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-fill li{
    height: auto;
    margin: 3px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.space-between li{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.flex-even{
    justify-content: space-evenly;
}

#level{
    background-color: rgb(17, 15, 15);
    color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px 20px;
    border: 2px solid rgb(70, 62, 62);
    border-radius: 5px;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
}
#level:disabled{
    background-color: rgb(10, 10, 10);
    color: rgb(70, 62, 62);
    border: 2px solid rgb(40, 35, 35);
    cursor: not-allowed;
}

#generate-btn{
    background-color: rgb(63, 20, 20);
    color: rgb(127, 127, 127);
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(70, 62, 62);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 5px;
}
#generate-btn:hover{
    background-color: rgb(29, 11, 11);
    color: rgb(206, 67, 67);
    border: 2px solid rgb(206, 67, 67);
}
#generate-btn:disabled{
    background-color: rgb(10, 10, 10);
    color: rgb(70, 62, 62);
    border: 2px solid rgb(40, 35, 35);
    cursor: not-allowed;
}

.box h1{
    margin-bottom: 20px;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.character-info
{
    text-align: left;
    font-size: 1em;
    line-height: 1.4;
}

li{
    text-align: left;
    font-size: 1em;
    line-height: 1.4;
    margin: 8px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(29, 11, 11);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.skill{
    font-size: 1em;
}

.prof-container{
    overflow-y: auto;
    flex: 1;
    width: 100%;
}

.class-skill{
    background-color: rgb(23, 48, 53);
}
.background-skill{
    background-color: rgb(11, 11, 29);
}
.race-skill{
    background-color: rgb(19, 29, 11);
}

.other-prof{
    background-color: rgb(42, 46, 19);
}

.back-language{
    background-color: rgb(66, 30, 67);
}
.race-language{
    background-color: rgb(69, 62, 112);
}

.feature{
    margin: 5px;
    background-color: rgb(23, 43, 35);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.feature h4{
    font-size: 1em;
    padding: 5px;
    background-color: rgb(34, 70, 58);
    border-bottom: 2px solid rgb(70, 62, 62);
}
.feature p{
    font-size: 1em;
    padding: 5px;
}
.fullScreenVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* scale video to fill screen */
  z-index: 2;
  transform: translate(-50%, -50%);
  background: black;
  display: none; /* hidden initially */
}

.auto-height{
    height: auto;
}

.wizard{
    position: relative;
    border: 0;
}
.wizard::after{
    content: "";
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(20,20,100,0.7) 10%, rgba(0,0,0,0) 130%);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(20,20,100,0.7), 0 0 30px rgba(20,20,100,0.7), 0 0 45px rgba(20,20,100,0.7);
}
.total-stats{
    color: rgb(195, 203, 107);
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    margin-right: auto;
}

.stat-high{
    font-size: 1.2em;
    color: #4c7caf; /* Green for high stats */
}
.stat-low{
    font-size: .9em;
    color: #801e17; /* Red for low stats */
}
.stat-5{
    font-size: .8em;
    color: #f92010; /* Red for low stats */
}
.stat-18{
    font-size: 1.5em;
    color: #1aff00; /* Gold for perfect score */
}
.stat-20{
    font-size: 2em;
    color: #edff21; /* Gold for perfect score */
}
.high-total{
    box-shadow: 0 0 0px #edff21, 0 0 0px #edff21, 0 0 15px #ecff21;
    border: 2px solid #a0ad16;
    background: linear-gradient(0deg, rgb(255, 243, 16) -50%, rgba(70,70,20,0.5) 50%);
}
.low-total{
    border: 2px solid #ad1616;
    background: linear-gradient(0deg, rgb(255, 16, 16) -50%, rgba(70,20,20,0.5) 50%);
}
.stat-li:has(.stat-20){
    box-shadow: 0 0 10px #edff21, 0 0 20px #edff21, 0 0 30px #edff21;
    border: 2px solid #edff21;
}
.stat-li:has(.stat-5){
    box-shadow: 0 0 10px #f92010, 0 0 20px #f92010, 0 0 30px #f92010;
    border: 2px solid #f92010;
}

h1, h2, h3, h4, h5, h6, p, span, li{
    cursor: default;
}   

.remove-bg{
    background-color: 0;
    background: 0;
}